<!DOCTYPE html>
<html>
  <head>
    <title>Cypress page objects</title>
  </head>
  <body>
    <h1>Examples</h1>
    <form method="post" action="/form">
      <label>
        Username
        <input name="username" type="text" />
      </label>
      <br>
      <label>
        Password
        <input name="password" type="password" />
      </label>
      <br>
      <label>
        Realm
        <select name="realm">
          <option>Foo</option>
          <option>Bar</option>
          <option>Baz</option>
        </select>
      </label>
      <br>
      <button type="submit">Authenticate</button>
    </form>
  </body>
</html>
